# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Report folder (excluded from repo)
report/

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/
