# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*.pyo


# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/

# Excluded from repo
.claude/
lecture_notes/
report/
output_data/
